@media (max-width: 576px) {
    .imgs {
        padding: 30px 0;
        &__title {
            font-size: 20px;
        }
        &__text {
            font-size: 14px;
        }
        &__wrapper {
            display: none;
        }
    }
}