.accordion {
    padding: 15px 0;
    background-color: #161e31;

    // .accordion__items
    &__items {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(180px, 280px));
        justify-content: center;
        justify-items: center;
        column-gap: 20px;
        row-gap: 7px;
    }

    &__heading {
        text-transform: uppercase;
        width: 280px;
        background-color: #2e3150;
        border-radius: 3px;
        padding: 1rem;
        height: 50px;

        text-align: center;
        color: #f2f2f2;
        font-size: 13px;
        cursor: pointer;
        border: 1px solid #2e3150;
        transition: .6s;

        &:hover {
            border: 1px solid #fff;
        }
    }

    .active {
        border: 1px solid #fff;
    }

    .panel {
        // margin-top: 8px;
        padding: 0 18px;
        background-color: white;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;

        p {
            text-align: justify;
        }

        img {
            display: block;
            margin: 10px auto;
            border-radius: 5px;
            width: 240px;
        }
        span {
            font-weight: 700;
        }
    }
}

.btn {
    width: 280px;
    background-color: #2e3150;
    border-radius: 3px;
    padding: 1rem;
    height: 50px;

    text-align: center;
    color: #f2f2f2;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid #2e3150;
    transition: .6s;

    &__mobile {
        display: none;
    }

    &:hover {
        border: 1px solid #fff;
    }
}